# SPDX-FileCopyrightText: 2017-2019 myhtmlex authors <https://github.com/Overbryd/myhtmlex>
# SPDX-FileCopyrightText: 2019-2023 Pleroma Authors <https://pleroma.social>
# SPDX-License-Identifier: LGPL-2.1-only

[submodule "c_src/lexbor"]
	path = c_src/lexbor
	url = https://github.com/lexbor/lexbor
	branch = v2.4.0
