{erl_opts, [debug_info]}.

{src_dirs, ["src"]}.

{deps,[]}.

{shell, [
    {apps, [fast_html]}
]}.


{pre_hooks, [
    {"(linux|darwin|solaris|freebsd)", compile, "git submodule update --init --recursive"},
    {"(linux|darwin|bsd)", compile, "make"}
]}.

{post_hooks, [
    {clean, "make clean"}
]}.
